{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h3>COMPETITION</h3>

        <!--    Tree tournament    -->
        <div class="row BracketSystem">

            <!--    --------------------------------------------8eme FINALE--------------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-1">
                    <H3>1/8 FINALE</H3>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                </div>
            </div>

            <!--    ------------------------------------------1/4 FINALE-----------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-2">
                    <H3>1/4 FINALE</H3>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                    <!--    group    -->
                    <div class="Bracket-group">
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    match    -->
                        <div class="Bracket-match">
                            <div class="Bracket-summary">
                                <div class="BracketMatch-unit">
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                    <!--    equipe infos    -->
                                    <div class="BracketUnit">
                                        <div class="BracketUnit-flag"></div>
                                        <div class="BracketUnit-clickable">
                                            <div class="BracketUnit-country">Nom du pays</div>
                                        </div>
                                        <div class="BracketUnit-score">
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="BracketMatch-play">
                                    <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                                </div>
                            </div>
                            <div class="Bracket-details">
                                <div class="BracketMatch-detailsTrigger">Match Details</div>
                                <div class="BracketMatchReport">
                                    <div class="BracketMatchReport-list">
                                        <div class="BracketMatchResult">
                                            <div class="BracketMatchResult-score">0</div>
                                            <div class="BracketMatchResult-map">Nom de Map</div>
                                            <div class="BracketMatchResult-score">0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    arrow    -->
                        <div class="Bracket-arrow"></div>
                    </div>

                </div>

            </div>

            <!--    ---------------------------------1/2 FINALE------------------------------------------------------    -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-3">
                    <H3>1/2 FINALE</H3>

                <!--    group    -->
                <div class="Bracket-group">
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="BracketMatch-play">
                                <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                            </div>
                        </div>
                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list">
                                    <div class="BracketMatchResult">
                                        <div class="BracketMatchResult-score">0</div>
                                        <div class="BracketMatchResult-map">Nom de Map</div>
                                        <div class="BracketMatchResult-score">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="BracketMatch-play">
                                <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                            </div>
                        </div>
                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list">
                                    <div class="BracketMatchResult">
                                        <div class="BracketMatchResult-score">0</div>
                                        <div class="BracketMatchResult-map">Nom de Map</div>
                                        <div class="BracketMatchResult-score">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    arrow    -->
                    <div class="Bracket-arrow"></div>
                </div>

            </div>
            </div>

            <!--    ----------------------------FINALE----------------------------------   -->
            <div class="container-fluid col-md-3">
                <div class="Bracket-column Bracket-round-4">
                    <H3>FINALE</H3>
                <!--    group    -->
                <div class="Bracket-group">
                    <!--    match    -->
                    <div class="Bracket-match">
                        <div class="Bracket-summary">
                            <div class="BracketMatch-unit">
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                                <!--    equipe infos    -->
                                <div class="BracketUnit">
                                    <div class="BracketUnit-flag"></div>
                                    <div class="BracketUnit-clickable">
                                        <div class="BracketUnit-country">Nom du pays</div>
                                    </div>
                                    <div class="BracketUnit-score">
                                        <span>0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="BracketMatch-play">
                                <div class="BracketMatch-playIcon glyphicon glyphicon-facetime-video"></div>
                            </div>
                        </div>
                        <div class="Bracket-details">
                            <div class="BracketMatch-detailsTrigger">Match Details</div>
                            <div class="BracketMatchReport">
                                <div class="BracketMatchReport-list">
                                    <div class="BracketMatchResult">
                                        <div class="BracketMatchResult-score">0</div>
                                        <div class="BracketMatchResult-map">Nom de Map</div>
                                        <div class="BracketMatchResult-score">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--    arrow    -->
                    <div class="Bracket-arrow"></div>
                </div>

            </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}