{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <br>

        <p>C’est <strong>Chris Metzen</strong> et <strong>Jeffrey Kaplan</strong> qui se sont chargés de la tâche ô combien délicate d’annoncer une nouvelle licence – chose qu’on avait pas vu depuis <strong>17 ans</strong> chez Blizzard ! Comme l’a expliqué mister Metzen, Overwatch est le successeur spirituel du projet Titan, ce dernier ayant emprunté une direction qui ne satisfaisait plus les concepteurs. On se retrouve donc avec ce FPS original, qui encore une fois, se démarque des autres jeux du genre grâce à ses éléments maison. Voyons donc ça :
            <br><br><br></p>
        <strong><i><u>Histoire et contexte</u></i></strong><br><br>




        <p>Comme l’a expliqué le duo, Overwatch ne s’aligne pas vraiment sur une trame narrative majeure, le <strong>PvP</strong> étant la grosse majorité du jeu. Néanmoins, l’action se déroule vers la fin du 21ème siècle, après une terrible guerre. Différentes bandes de guerre, nommées les “Overwatch”, ont été créés afin d’éviter que la <strong>Terre</strong> ne retombe dans le chaos – mais aujourd’hui, ces valeureux héros se battent entre eux. C’est pas plus mal à la limite, sinon le jeu n’aurait pas été super intéressant…</p>
        <br><br>


        <strong><i><u>Parlons peu, parlons gameplay</u></i></strong><br><br>



        <p>L’objectif de Blizzard, comme toujours, est de rendre son nouveau jeu attrayant pour les nouveaux joueurs, mais aussi de séduire les habitués du genre. Ainsi, la synergie entre tous les personnages est très importante, afin de limiter le nombre de morts. S’il n’existe pour l’instant que <strong>douze personnages différents</strong>, la firme californienne compte bien sûr en ajouter d’autres avec le temps ! Les parties se dérouleront donc en <strong>6 contre 6</strong>, et à l’image de Heroes of the Storm, les maps auront chacune leurs <strong>particularités</strong> : il faudra remplir un ou plusieurs objectifs afin de gagner la game, et non pas simplement farmer les adversaires – même s’il est clair que ça peut aider ! Actuellement, il y a quatre types de héros connus :</p>
        <br>



        <ul>
            <li><strong>Les tanks</strong> : forcément, ils savent encaisser. Leur objectif est de rompre l’avancée adverse, et d’enchaîner en menant un percée alliée.
            </li><br>
            <li><strong>Les héros d’attaque</strong> : on peut les comparer aux personnages que l’on joue dans Shootmania, notamment par leur très grande mobilité. L’objectif de ces personnages est d’atteindre des objectifs et de gêner les mouvements adverses grâce à leur puissance de feu.
            </li><br>
            <li><strong>Les héros de défense</strong> : assez résistants aussi, leur mission est de tenir un objectif coûte que coûte, en s’aider de capacités entravantes.
            </li><br>
            <li><strong>Les supports</strong> : rôle des plus stratégiques, celui de support consiste bien sûr à healer et buffer les alliés, mais aussi à installer des éléments primordiaux tels que des téléporteurs, par exemple.
            </li><br>
        </ul><br>

{#        <div class="video">
        <iframe src="//www.youtube.com/embed/UXCNNDHboho"</iframe>
        </div>#}

      {#  <div class="resp-container">
            <iframe class="resp-iframe" src="https://www.youtube.com/embed/UXCNNDHboho" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
        </div>#}

        <div class="video embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UXCNNDHboho" allowfullscreen></iframe>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
