<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sommaire</title>
    <meta name="description"  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
</head>
<body>

<section class="global">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-8 mx-auto">
                <div class="card border-none">
                    <div class="card-body">
                        <div class="mt-2">
                            <img src="{{ asset('images/logo.png') }}" alt="Cha" class="brand-logo mx-auto d-block img-fluid rounded-circle"/>
                        </div>
                        <p class="mt-4 text-black lead text-center">
                            Que voulez-vous effectuer ?
                        </p>
                        <div class="mt-4">
                            <ul class="col-12" id="choix">
                                <li><a href="/playedmap"><button name ="ajouter_playedmap" class="btn btn-primary btn-block float-right">Ajouter/Mise à jour du Tournoi</button></a></li>
                                <li><a href="/team"><button name ="ajouter_menus" class="btn btn-primary btn-block float-right">Ajouter/Modifier des équipes</button></a></li>
                                <li><a href="/player"><button name ="ajouter_actu" class="btn btn-primary btn-block float-right">Ajouter/Modifier des joueurs</button></a></li>
                                <li><a href="/map"><button name ="reservations" class="btn btn-primary btn-block float-right">Ajouter/Modifier des cartes</button></a></li>
                                    </a>
                                </li>
                            </ul>
                        </div>



                    </div>


                </div>
            </div>
        </div>


    </div>


</section>

</body>
</html>
