body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #17202a;
    color: #b3b6b7;
}


h1 {
    font-size: 22px;
    color:   #1c2833 ;
}

h2 {
    font-size: 30px;
}

p {
    text-align: justify;
    font-size: 18px;
}

.content li{
    font-size: 18px;
}

.footer {
    background-color:  #111010;
    padding: 5px;
}

.footer p {
    text-align: center;
    font-size: 12px;
}

/* ----------HEADER-------------- */

.header {
    background-color: whitesmoke;
    /* The image used */
    /*background-image: url("../images/couv4.jpeg");*/

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    text-align: center;
}

.header img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#navbar {
    z-index: 10;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/* ----------ACCUEIL-------------- */

.intro{
    border: 2px solid #FFC300;
    padding: 25px;
    border-radius: 8px;
    background-color:  #111010;
    z-index: 1;
}

.intro p{
    text-align: center;
}

.intro span{
    color: #FFC300;
}
