body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
}

h1 {
    font-size: 22px;
    /*color: whitesmoke;*/
}

/* ----------HEADER-------------- */

.header {
    background-color: whitesmoke;
    /* The image used */
    /*background-image: url("../images/couv4.jpeg");*/

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    text-align: center;
}

.header img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#navbar {
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}